body {
  padding-top: 50px;
  font-size: 200px;
  background-color: black;
  color: lightblue;
}
h1 {
  text-align: center;
  font-size: 72px;
  padding-bottom: 50px;
}

#board {
  display:none;
}

.box {
  display: block;
  float: left;
  height: 300px;
  width: 300px;
  border: 10px solid lightblue;
  text-align: center;
  line-height: 300px;
  font-size: 200px;
}

.top-row {
  border-top: none;
}
.left-column {
  border-left: none;
}
.right-column {
  border-right: none;
}
.bottom-row {
  border-bottom: none;
}
